# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld_safe]
log_error=/var/log/mysql/mysql_error.log

[mysqld]
log_error=/var/log/mysql/mysql_error.log

general_log_file        = /var/log/mysql/mysql.log
general_log             = 1

log_slow_queries       = /var/log/mysql/mysql-slow.log
long_query_time = 2

log-queries-not-using-indexes